<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="~/css/AboutStyles.css" asp-append-version="true" />
</head>
<body>

<div class="about-section">
  <h1>Travel site</h1>
  <p>About</p>
</div>

<h2 style="text-align:center">Seyahet Yerlerimiz</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="http://afisha.nyc/wp-content/uploads/2018/04/1493907885_ozbeoz-com-new-york-1.jpg" alt="Jane" style="width:50%">
      <div class="container">
        <h2>America</h2>
        <p class="title">Nyu York</p>
        <p>Get Azadliq heykelini gor!!!!!!</p>
        
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg/1200px-La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg" alt="Mike" style="width:50%">
      <div class="container">
        <h2>Fransa</h2>
        <p class="title">Paris</p>
        <p>Get Eyfel qullesini gor!!!!!</p>
       
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://i.ytimg.com/vi/ldDxqhejy6k/maxresdefault.jpg" alt="John" style="width:50%">
      <div class="container">
        <h2>Azerbaycan</h2>
        <p class="title">Gedebey</p>
        <p>Sehayet Et !!!!!</p>
       
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>