<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelSite.styles.css" asp-append-version="true" />
</head>

 <header class="site-header">
            <div class="site-identity">
                <h1>Travel site</h1>
            </div>
            <nav class="site-navigation">
                <ul class="nav">
                    <li><a  asp-action="Home" >Home</a></li>
                    <li ><a  asp-action="About" >About</a></li>
                    
                    <li><a asp-action="Contact"  >Contact</a></li>
                </ul>
            </nav>
        </header>
<body></body>
